@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
    height: auto;
}

body {
    background-color: #D9D9D9;

}

.flex-column {
    display: none;
}

#logo {
    border-radius: 10px;
    height: 15vh;
}

ul li a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    padding: 15px;
    font-size: 2em;
    margin: 15px;
}

ul {
    display: flex;
    align-items: center;

}

#tituloIndex, .h1Nosotros, .servh1, .projectsh1, #contacth1 {
    margin-top: 25vh;
}

.carousel {
    margin-top: 5vh;
}
.carousel-inner .carousel-item img {
    border-radius: 25px;
}

.carousel-inner {
    display: flex;
    justify-content: space-around;
}

.carousel-control-prev, .carousel-control-next {
    margin-left: 20%;
    margin-right: 20%;
}

#ingTrabajando {
    display: flex;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

#ingTrabajando img {
    width: 20vw;
    border-radius: 25px;
}

#ingTrabajando #parrafo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

#ingTrabajando #parrafo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-left: 10px;
}

#algunos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    font-size: 40px;
}

#listaClientes {
    margin: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#listaClientes img {
    height: 8vw;
    border-radius: 25px;
}

#certi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    font-size: 40px;
}

#certificaciones img {
    height: 6vw;
}

#certificaciones {
    margin: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    height: 25vh;
}

footer img {
    height: 4vh;
    margin-top: 1vh;
}

h1 {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#misVis {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    justify-content: space-evenly;
}

#mision {
    width: 350px;
    text-align: justify;
}

#vision {
    width: 350px;
    text-align: justify;
 }

h2 {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#backGround {
    margin-top: 40px;
}

.quienesGridPadre {
    display: none;
}

.eng1 {
    width: 450px;
    border-radius: 25px;
}

.parte1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 250px 0 250px;
    text-align: justify;
}

.parrafoEng1 {
    margin-left: 20px;
}

.eng2 {
    width: 450px;
    border-radius: 25px;
}

.parrafoEng2 {
    margin-right: 20px;
}

#parte2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 250px 0 250px;
    text-align: justify;
}

#sedes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.mapas {
    margin: 30px;
    font-size: 20px;
}

.imgServ {
    width: 45vh;
    height: auto;
    border-radius: 25px;
}

.gridPadre {
    display: flex;
    justify-content: center;
}

#gridServicios, .gridMis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75vw;
    align-items: center;
    justify-items: center;

}

#proj1 img, #proj2 img, #proj3 img {
    width: 35vw;
    border-radius: 25px;
    margin-top: 40px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#proj1, #proj2, #proj3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

#proj1 p, #proj2 p, #proj3 p {
    display: flex;
}

#comentarios {
    resize: none;
}

form {
    margin-top: 10vh;

}

.row {
    justify-content: center;
    align-items: center;
}

.botonForm {
    text-align: center;
}

@media (max-width:1360px) {
    li {
        font-size: 1.5em;
    }
    #logo {
        height: 10vh;
    }
    #ingTrabajando {
        height: auto;
    }
    .eng1, .eng2 {
        width: 25vw;
    }
    .parrafoEng1, .parrafoEng2, #mision p, #vision p, .serv135, .serv24 {
        font-size: 0.8em;
    }
    #proj1 img, #proj2 img, #proj3 img {
        width: 25vw;
    }
    h1, #contacth1, #tituloIndex, .h1Nosotros, .servh1, .projectsh1 {
        font-size: 2em;
       
    }
}

@media (max-width:1025px) {
    #ingTrabajando {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:1190px) {
    li {
        font-size: 1.2em;
    }
    #algunos {
        font-size: 3vh;
    }
    #certi {
        font-size: 3vh;
    }
    footer img {
        height: 3vh;
    }
    footer p {
        font-size: 0.8rem;
    }
}

@media (max-width:970px) {
 #quienes {
        display: none;
    }
    iframe {
        width: 300px;
        height: auto;
    }
    .imgServ {
        width: 25vw;
    }
    h1, #contacth1, #tituloIndex, .h1Nosotros, .servh1, .projectsh1 {
        font-size: 1.5em;
    }
}

@media (max-width: 770px) {
    form {
        font-size: 0.8em;
    }
}

@media (max-width: 970px) {
    .quienesGridPadre {
        display:flex;
        justify-content: center;
    }
}